.product {
  display: inline-block;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  background-color: burlywood;
  padding: 10px;
  border: 6px solid darkred;
  margin: 10px;
}

.product:nth-child(2n + 4) {
  background-color: gold;
}
